@import url("https://fonts.googleapis.com/css?family=Open+Sans");
@import url("https://fonts.googleapis.com/css?family=Titillium+Web");
@import url("https://fonts.googleapis.com/css?family=Ubuntu+Mono");

@font-face {
  font-family: "Cascadia Code";
  src: url("fonts/CascadiaCode.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Mononoki";
  src: url("fonts/mononoki-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Mononoki";
  src: url("fonts/mononoki-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
